*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: #fff;
}

center{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.ball{
    width: 50px;
    border-top: 25px solid #f00;
    border-bottom: 25px solid #000;
    border-radius: 50%;
}